# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.o
*.a
*.d
*.cmd
*.pyc
!arch/*/*/*/*.cmd
*~
cscope.*
.dir
outdir
scripts/basic/fixdep
scripts/gen_idt/gen_idt
scripts/gen_offset_header/gen_offset_header
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
doc/_build
xml
html/
doc/latex/
sanity-out/
scripts/grub
doc/reference/kconfig/CONFIG_*
tags
*_
