table {
  margin: 32px;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  width: auto;
}
th {
  font-family: IntelClear-Regular,Helvetica,Arial,sans-serif;
  align-content: center;
  padding: 5px;
  border: #ccc solid 1px;
  background-color: #555;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px !important;
}
tr {
  padding-top: 20px ;
  padding-bottom: 10px;
}
 tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}
 .bundlename {
  font-family: IntelClear-Regular,Helvetica,Arial,sans-serif;
  font-size: 16px !important;
  font-weight: bolder;
  padding-left: 6px;
  line-height: 18px;
  padding-top:7px ;
  padding-bottom: 5px;
}
.bundledesc, p {
  font-family: IntelClear-Regular,Helvetica,Arial,sans-serif;
/*  font: italic;*/
  font-size: 16px !important;
  padding-left: 6px;
  line-height: normal;
  padding-top: 7px ;
  padding-bottom: 5px;
}
 ul, li {
  line-height: normal;
  font-size: 16px;
  padding: 0;
  padding-left: 5px;
  padding-top: 2px;
/*  margin-left: 8px;*/
}
